<table class="table">
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

        <thead class="table-dark">
            <tr>
                <th></th>
                <th>Name</th>
                <th>Price</th>
                <th>Units in Stock</th>

            </tr>


        </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
        <td class="align-middle">
            <img src="{{ tempProduct.imageUrl}}" height="50" /></td>
        <td class="align-middle"> {{ tempProduct.name}} </td>
        <td class="align-middle"> {{ tempProduct.unitPrice| currency : 'USD'}}  </td>
        <td class="align-middle"> {{ tempProduct.unitsInStock}} </td>

        </tr>

    </tbody>


</table>
